<div class="hero-unit">
{{#if message}}
    <div class="alert alert-error">
        {{message}}
    </div>
{{/if}}
    <a href="/register" class="btn btn-primary btn-medium">
        Register
    </a>
    <a href="/login" class="btn btn-primary btn-medium">
        Login
    </a>
</div>