
<p>I'd rather be eating... </p>


<div>
    <form method="POST" action="/new/food">
        What would you rather be eating?: <input type="text" name="what">
        <br>
        Why Aren't you eating food: <input type="radio" name="reason" value="I don't have money"> no money
        <input type="radio" name="reason" value="I'm working on that body"> working on that body
        <input type="radio" name="reason" value="How would I get there?"> it's so far away
        <input type="radio" name="reason" value="I have stuff to do"> I have stuff to do
        <br>
        What's your plan for eating it anyways?: <input type="text" name="plan">
        <br>
        <input type="submit">
    </form>

</div>

<a href="/rathers">Click here to see all the rathers!!</a>