<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Food Page</title>
</head>
<body>
<h1>working so far</h1>
<p>I'd rather be eating... </p>

<form method="POST" action="/new/food">
    What would you rather be eating?: <input type="text" name="what">
    Why Aren't you eating food: <input type="radio" name="reason" value="money"> no money
    <input type="radio" name="reason" value="health"> working on that body
    <input type="radio" name="reason" value="transportation"> it's so far away
    <input type="radio" name="reason" value="obligations"> I have stuff to do
    <br>
    What's your plan for eating it anyways?: <input type="text" name="plan">
    <input type="submit">
</form>

</body>
</html>