{{#if user}}
    <h3>Welcome {{user.username}}</h3>
    <br>
    <a href="/">go back home</a>
{{else}}
    You're not signed in!
{{/if}}
<p>Welcome to I'd RATHER be..., where you can conviniently keep track of all the things you'd rather be doing, eating,
    watching, or visiting than whatever you're currently doing. Fill out a "Rather" below or view all the previously created
    rathers</p>

<div>
    <p>I'd rather be ... </p>
    <form method="POST" action="/new/rather/general">
        <input type="radio" name="type" value="food" checked> be eating...
        <input type="radio" name="type" value="visit"> be visiting...
        <input type="radio" name="type" value="watch"> be watching...
        <input type="radio" name="type" value="random"> be entertained?
        <br>
        <input type="submit">
    </form>

</div>

<a href="/rathers">Click here to see all the rathers!!</a>