{{#if user}}
    <h3>Welcome {{user.username}}</h3>
    <br>
    <a href="/">go back home</a>
{{else}}
    You're not signed in!
{{/if}}
<div class="hero-unit">
<p>Welcome to I'd RATHER be..., where you can conviniently keep track of all the things you'd rather be doing, eating,
    watching, or visiting than whatever you're currently doing. Fill out a "Rather" below or view all the previously created
    rathers</p>

<div>
    <p>I'd rather be ... </p>
    <form method="POST" action="/new/rather/general" class="form-horizontal">
        <label class="radio">
            <input type="radio" name="type" id="optionsRadios1" value="food" checked>
            be eating...
        </label>
        <label class="radio">
            <input type="radio" name="type" id="optionsRadios2" value="visit">
            be visiting...
        </label>
        <label class="radio">
            <input type="radio" name="type" id="optionsRadios1" value="watch" checked>
            be watching...
        </label>
        <label class="radio">
            <input type="radio" name="type" id="optionsRadios2" value="random">
            be entertained?!
        </label>
        <input type="submit">
    </form>

</div>



<a href="/rathers">Click here to see all the rathers!!</a>
</div>