<h1>Login!</h1>
<h2>{{message}}</h2>

<div>
    <p>Login here: </p>
    <form method="POST" action="/login">
        Username: <input type="text" name="username">
        Password: <input type = "password" name = "password">
        <br>
        <input type="submit">
    </form>
</div>