<h1>Register!</h1>
<h2>{{message}}</h2>

<div>
    <p>Create a new login here: </p>
    <form method="POST" action="/register">
        Username: <input type="text" name="username">
        Password: <input type = "password" name = "password">
        <br>
        <input type="submit">
    </form>
</div>