<div class="hero-unit">
<p>I'd rather be visiting... </p>


<div>
    <form method="POST" action="/new/visit">
        Where would you rather be visiting?: <input type="text" name="what">
        <br>
        Why Aren't you visiting this: <input type="radio" name="reason" value="I don't have money"> no money
        <input type="radio" name="reason" value="It's a figment of my imagination"> It's not real!
        <input type="radio" name="reason" value="getting places is so hard"> it's so far away
        <input type="radio" name="reason" value="I have real life adult things to do"> I have stuff to do
        <br>
        What's your plan for visiting this place anyways?: <input type="text" name="plan">
        <br>
        <input type="submit">
    </form>

</div>

<a href="/rathers">Click here to see all the rathers!</a>
</div>