
<p>I'd rather be visiting... </p>


<div>
    <form method="POST" action="/new/visit">
        Where would you rather be visiting?: <input type="text" name="what">
        <br>
        Why Aren't you visiting this: <input type="radio" name="reason" value="money"> no money
        <input type="radio" name="reason" value="health"> It's not real!
        <input type="radio" name="reason" value="transportation"> it's so far away
        <input type="radio" name="reason" value="obligations"> I have stuff to do
        <br>
        What's your plan for visiting this place anyways?: <input type="text" name="plan">
        <br>
        <input type="submit">
    </form>

</div>

<a href="/rathers">Click here to see all the rathers!!</a>