
<p>I'd rather be watching... </p>


<div>
    <form method="POST" action="/new/watch">
        What would you rather be watching?: <input type="text" name="what">
        <br>
        Why aren't you watching this: <input type="radio" name="reason" value="no money"> no money
        <input type="radio" name="reason" value="it's practically part of my imagination"> It's impossible
        <input type="radio" name="reason" value="getting there is rough"> it's so far away
        <input type="radio" name="reason" value="I have something I should do unfortunately"> I have stuff to do
        <br>
        What's your plan for watching it anyways?: <input type="text" name="plan">
        <br>
        <input type="submit">
    </form>

</div>

<a href="/rathers">Click here to see all the rathers!!</a>